# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
directx_test/DirectXTest/.vs
*.user
directx_test/DirectXTest/Debug
directx_test/DirectXTest/DirectXTest/Debug
directx_test/DirectXTest/DirectXTest/x64
